---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
import contact from '../images/contact.jpg'
---
<AstroSeo
  title="Tria-Techni: Our"
  description="Contact Us"
/>
<Layout>
<section id="contact-container">
  <div id="contact-form">
  <form id="form" action="/new/form/process_email.php" method="post">
    <h2>Say hello, we'd love to hear from you!</h2>
    <div>
    <label>Name</label><br>
    <input type="text" name="name" required>
    </div>

    <div>
    <label>Contact</label> <br>
    <input type="tel" name="contact" required>
    </div>

    <div>
    <label>Email</label><br>
    <input type="text" name="email" required>
    </div>

    <div id="services-offered-container">
        
        <div>
        <label><input type="checkbox" value="Branding"><span>Branding</span></label><br />
        <label><input type="checkbox" value="REBranding"><span>REBranding</span></label><br />
        <label><input type="checkbox" value="Market Research & Analysis"><span>Market Research & Analysis</span></label><br />
        <label><input type="checkbox" value="Brand Positioning"><span>Brand Positioning</span></label>
        </div>

        <div>
        <label><input type="checkbox" value="Logo design"><span>Logo design</span></label><br />
        <label><input type="checkbox" value="Website / Ecommerce"><span>Website / Ecommerce</span></label><br />
        <label><input type="checkbox" value="mobile app"><span>mobile app</span></label><br />
        <label><input type="checkbox" value="custom application"><span>custom application</span></label>
        </div>
    </div>
    <div>
    <label>Message</label>  <br>
    <textarea name="message" value="message" cols="40" rows="5"></textarea>
    </div>

  <input type="submit" value="Send">

  </form>
  </div>

  <div>hi hi </div>
</section>
</Layout>



<style>
  #contact-container {
    margin-top: 380px;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #contact-form {
    background-color: #55434A;
    border-radius: 20px;
  }
  #form {
  margin: 0 auto;
  padding: 20px;
  }
  #form h2 {
    color: white;
    text-align: center;
    font-size: 64px;
  }
  #form label {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
  #form input, #form textarea {
    color: white;
    background-color: #69525C;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 10px;
  }
  #form input:focus, #form textarea:focus {
    background-color: #7C626D;
    border: none;
    outline: none;
    transition: all 250ms ease-in-out;
  }
  #services-offered-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }
  #services-offered-container input[type="checkbox"] {
    display: none;
  }
  #services-offered-container span {
    display: inline-block;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #69525C;
    cursor: pointer;
  }
  #services-offered-container input[type="checkbox"]:checked + span {
    background-color: #7C626D;
    transition: all 0.3s ease-in-out;
  }
  @media (max-width: 1120px) {
    #contact-container {
      margin-top: 240px;
    }
  }
</style>