---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
---
<AstroSeo
  title="Tria-Techni: Our"
  description="Contact Us"
/>
<Layout>

  <div class="testie">
    <div class="noise-test"></div>
  </div>
 
<section class="noise-container">
<div class="noise">
 
  <div class="contact-container bg-grid">
    <div class="heading-bg">Contact Us</div>
  <div id="contact-form">
    <form id="form" action="/new/form/process_email.php" method="post">
    <div>
    <label>Name</label><br>
    <input type="text" name="name" required>
    </div>

    <div>
    <label>Contact</label> <br>
    <input type="tel" name="contact" required>
    </div>

    <div>
    <label>Email</label><br>
    <input type="text" name="email" required>
    </div>
    <h3>Services Concerned</h3>
    <div id="services-offered-container">
      
        <div>
        <label><input type="checkbox" value="Branding"><span>Branding</span></label><br />
        <label><input type="checkbox" value="REBranding"><span>REBranding</span></label><br />
        <label><input type="checkbox" value="Market Research & Analysis"><span>Market Research & Analysis</span></label><br />
        <label><input type="checkbox" value="Brand Positioning"><span>Brand Positioning</span></label>
        </div>

        <div>
        <label><input type="checkbox" value="Logo design"><span>Logo design</span></label><br />
        <label><input type="checkbox" value="Website / Ecommerce"><span>Website / Ecommerce</span></label><br />
        <label><input type="checkbox" value="mobile app"><span>mobile app</span></label><br />
        <label><input type="checkbox" value="custom application"><span>custom application</span></label>
        </div>

    </div>

    <div>
      <h3>Message</h3>
      <div id="message-container"><textarea name="message" value="message" cols="40" rows="5"></textarea></div>
    </div>

  <input type="submit" class="feedback-button" value="Send">

  </form>
  </div>
</div>
</div>
</section>
</Layout>


<style>
  .heading-bg {
    background: radial-gradient(#5235c8 0%,#bc52ee 100%);
    mask-image: radial-gradient(rgba(0,0,0,.5),transparent 70%);
    background-blend-mode: overlay;
    width: 100vw;
    height: 583px
  }
  .testie {
    position: absolute;
    top: -253px;
    right: -90%;
    background: linear-gradient(83.21deg,#5235c8 0%,#bc52ee 100%);
    mask-image: radial-gradient(rgba(0,0,0,.5),transparent 70%);
    background-blend-mode: overlay;
    width: 159%;
    height: 585px;
  }
  .bg-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right,#4a465e 1px,transparent 1px),linear-gradient(to bottom,#4a465e 1px,transparent 1px);
    background-position: top center;
    image-rendering: pixelated;
    mask-image: linear-gradient(180deg,transparent 3%,rgb(0, 0, 0) 7%,rgb(0, 0, 0) 94%,transparent 98%);
  }
  h3 {
    text-transform: uppercase;
  }
  .contact-container {
    margin-top: 380px;
    padding: 40px;
  }
  #contact-form {
    clip-path: polygon(66% 0, 69% 0, 0 100%, 0% 100%);
    opacity: 0;
    background-color: #55434A;
    border-radius: 20px;
    margin: 60px auto;
  }
  #form {
    margin: 0 auto;
    padding: 20px;
  }
  #form label, #form textarea, #form input, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1.125rem, 2vw + 0.5rem, 1.875rem);
    color: white;
  }
  #form input, #form textarea {
    color: white;
    background-color: #69525C;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 10px;
  }
  #form input:focus, #form textarea:focus {
    background-color: #7C626D;
    border: none;
    outline: none;
    transition: all 250ms ease-in-out;
  }
  #services-offered-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    border: solid 4px #7D646F;
    margin-bottom: 20px;
  }
  #services-offered-container input[type="checkbox"] {
    display: none;
  }
  #services-offered-container span {
    display: inline-block;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #69525C;
    cursor: pointer;
  }
  #services-offered-container input[type="checkbox"]:checked + span {
    background-color: #7C626D;
    transition: all 0.3s ease-in-out;
  }
  #message-container {
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    border: solid 4px #7D646F;
    margin-bottom: 20px;
  }
  .feedback-button {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    cursor: pointer;
  }
  @media (min-width: 320px) and (max-width: 1120px) {
    #noise-container {
      margin-top: 280px;
    }
  }
  @media (max-width: 800px) {
    #form input, #form textarea, #services-offered-container span {
      padding: 0.5rem
    }
  }
  @media (max-width: 1120px) {
    #services-offered-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
</style>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

<script is:inline>
  gsap.registerPlugin(ScrollTrigger);
  
  let tl = gsap.timeline ({ defaults: { ease: "Power4.easeInOut", duration: 2 } })
  tl.to('.logo', { 'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)', opacity: 1, duration: 0.5 } )
  tl.to('#contact-form', { 'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)', opacity: 1, duration: 0.5 } )
  tl.to('.toggle', { opacity: 1, duration: 0.5, x:0, ease: "elastic" }, "-=.4" )

</script>