---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
---
<AstroSeo
  title="Tria-Techni: Service Page"
  description="This is the service page my servers"
/>
<Layout>
  
<section id="services-container">
 
    <p>Tria-Techni Creative Group is a UI design studio. We love to work with clients who are committed to <b>exceptional user experience</b> and <b>thoughtful consideration of accessibility</b> to ensure universal access.</p> 
<p>We love making <b>complex things simple</b> and understandable. And we love helping organizations build <b>UI design systems that are robust and scalable.</b></p>


  <div class="services">
    <div class="service">
      <div class="icon">
        <img src="images/001.png" alt="" />
      </div>
      <h2>Design</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
      nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
    </div>
    <div class="service">
      <div class="icon">
        <img src="images/002.png" alt="" />
      </div>
      <h2>Development</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
      nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
    </div>
    <div class="service">
      <div class="icon">
        <img src="images/003.png" alt="" />
      </div>
      <h2>SEO</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
      nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
    </div>
    <div class="service">
      <div class="icon">
        <img src="images/004.png" alt="" />
      </div>
      <h2>Marketing</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
      nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
    </div>
    <div class="service">
      <div class="icon">
        <img src="images/005.png" alt="" />
      </div>
      <h2>App Development</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
      nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
    </div>
    <div class="service">
      <div class="icon">
        <img src="images/006.png" alt="" />
      </div>
      <h2>Error Fixing</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum omnis
      nemo sapiente in quidem sed dolores cumque! Ut, est aliquid!
    </div>
  </div>
</section>
</Layout>

<style>
 #services-container {
   padding-top: 480px;
 }
 #services-container p {
  font-size: 44px;
  line-height: 4rem;
 }
 #services-container b {
  font-weight: 700;
  font-style: italic;
  border-bottom: solid 5px #776aa5;
 }
 
.services {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}
.services .service {
  padding: 30px;
}
.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.services .service h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
}

.services .service .icon img {
  max-width: 100px;
}
@media (max-width: 1120px) { 
  #services-container {
   padding-top: 250px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #services-container p {
  font-size: clamp(1.5rem, 1vw + 1rem, 2.75rem);
  line-height: 2.5rem;
 }
 #services-container b {
  border-bottom: solid 1px #776aa5;
 }
}

</style>