---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
import WebDesign from '../images/Web-Design.jpg';
import UIDesign from '../images/UI-Design.jpg';
import MobileDesign from '../images/Mobile-Design.jpg';
import Branding from '../images/branding.jpg';
import GraphicDesign from '../images/Graphic-Design.jpg';
import VideoEdited from '../images/Video-Edited.jpg';
---
<AstroSeo
  title="Toronto Web Design & Mobile Design | Tria-Techni Creative Group"
  description="Tria-Techni Creative Group specializes in accessible web design and mobile responsive designs, Custom WordPress, e commerce like Shopify and Accessibility."
/>
<Layout>
  
<section id="services-container">

<div class="service_intro">
<p>Tria-Techni Creative Group is a UI design studio. We love to work with clients who are committed to <b>exceptional user experience</b> and <b>thoughtful consideration of accessibility</b> to ensure universal access.</p> 

<p>We love making complex things simple and understandable. And we love helping organizations build UI design systems that are robust and scalable.
</p>
</div>

<div class="service_grid">

        <div>
        <img src={ WebDesign } alt={ WebDesign }>
        <h2>Web Design / Interactive</h2>
        <p>The Internet is an ever changing environment that 
        demands that you keep up with the latest and greatest communication 
        platforms. Your website is the first impression for your company and 
        where customers make the decision to do business with you, decide what 
        products to buy, learn about events that are scheduled, who to consult, 
        and what information is most important to them. Tria-Techni 
        provides websites that by far, stand out from the rest of the 
        competitors...</p>    
        </div>

        <div>
        <img src={ UIDesign } alt={ UIDesign }>
        <h2>UI / UX</h2>
        <p>Tria-Techni is passionate about an intuitive 
        user experience because the user is ultimately the one who is the 
        target. We focus on the wants and needs of the user to create stunning 
        solutions through our experience in Research, Strategy, and Design 
        methodologies...</p>
        </div>

        <div>
        <img src={ MobileDesign }>      
        <h2>Mobile Design</h2>
        <p>With tablets and smartphones on the rise, nearly half 
        of all internet users access online content from their mobile devices. 
        If your website is not optimized to be viewed on mobile devices, then 
        you may be losing customers. We design web sites that can be viewed on 
        desktops as well as mobile devices.</p>
        </div>

        <div>
        <img src={ Branding } alt={ Branding }>
        <h2>Branding</h2>
        <p>Quality. Strength. Ability. Boldness. Trust.  What does
        your brand say about you? When the time comes for a customer to decide 
        on a brand will you be their first choice? Your brand needs to tell your
        story to the customer both consciously and subconsciously conveying the
        qualities that make you the best choice. Tria-Techni is a 
        group of brand specialists and we know that your brand is more than just
        a logo.</p>
        </div>

        <div> 
        <img src={ GraphicDesign } alt={ GraphicDesign }>
        <h2>Graphic Design</h2>
        <p>Are you memorable? The differentiator between you and the 
        competitor is your design and you stand out in an over populated 
        marketplace. Our expert team of designers will craft the difference that
        gives you the validity and momentum your company needs to standout in 
        the marketplace.</p>
        </div>
    
        <div>
        <img src={ VideoEdited } alt={ VideoEdited }>
        <h2>Video / Media</h2>
        <p>Media is like vapor in that it is always changing. Tria-Techni
        creates dynamic and creative plans that move with the 
        market. We have a team of knowledgeable researchers skilled with all of 
        the techniques that allow us to quickly change and adapt your strategy 
        based off of our detailed research.  Keep the momentum flowing - with 
        our help.</p>
        <div>

        </div>

        </div>

    </div>
 
</section>
</Layout>

<style>
 #services-container {
   padding-top: 440px;
 }
 #services-container h2 {
  color: white;
  font-size: 2.50rem;
 }
 #services-container p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.55rem;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
 }
 #services-container b {
  font-weight: 700;
  font-style: italic;
  border-bottom: solid 3px #776aa5;
 }
.service_grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
  grid-gap: 20px;
}
.service_grid div {
  background-color:#6d525c;
  padding: 20px;
  border-radius: 10px;
}
.service_grid div img {
  min-width: 280px;
  width: 100%;
  height: auto;
}
@media (max-width: 320px) { 
  #services-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .service_grid div {
    margin-left: 10px;
    margin-right: 10px;
  }
  .service_grid div img {
    min-width: 240px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1120px) { 
  h1 {
    font-size: clamp(3.375rem, 1vw + 1rem, 4rem);
  }
  p {
    font-size: clamp(1.5rem, 1vw + 1rem, 2.75rem);
  }
  #services-container {
   padding-top: 250px;
   padding-left: 20px;
   padding-right: 20px;
 }
 #services-container p {
  font-size: clamp(1.5rem, 1vw + 1rem, 2.75rem);
  line-height: 2.5rem;
 }
 #services-container b {
  border-bottom: solid 1px #776aa5;
 }
}

</style>