---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
---
<AstroSeo
  title="Toronto Web Design & Mobile Design | Tria-Techni Creative Group"
  description="Tria-Techni Creative Group specializes in accessible web design and mobile responsive designs, Custom WordPress, e commerce like Shopify and Accessibility."
/>
<Layout>

<section id="services-container">
<svg width="auto" height="137" class="top_design_element" viewBox="0 0 951 137" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2 0C637.678 231.39 950.446 95.166 950.446 95.166" stroke="url(#paint0_linear_4_1088)" stroke-width="3" stroke-linecap="round"/>
<defs>
<linearGradient id="paint0_linear_4_1088" x1="172.523" y1="104.271" x2="471.306" y2="169.961" gradientUnits="userSpaceOnUse">
<stop offset="0.125" stop-color="#4D495E" stop-opacity="0.35"/>
<stop offset="0.520833" stop-color="#716A9C" stop-opacity="0.48"/>
<stop offset="0.880208" stop-color="#D79AA4" stop-opacity="0.46"/>
</linearGradient>
</defs>
</svg>

<div class="service_intro">
 
<p class="first-para">Tria-Techni is a design &#38; development studio, servicing the Greater Toronto Area. We love working with clients to deliver complex things simple and understandable.</p> 

<p class="second-para">With over 20 years of professional experience, we have a wide range of understanding industries, including websites and custom applications.
</p>

</div>

<div class="service_grid">

        <div>
        <div class="WebDesign-bg"> 
        <h2 class="test">Web Design / Interactive</h2></div>
        <div class="service-container web-container">
         
          <p class="first-web-para">The Internet is an ever changing environment that 
          demands that you keep up with the latest and greatest communication 
          platforms.</p> 
          
          <p class="second-web-para">Your website is the first impression for your company and 
          where customers make the decision to do business with you, decide what 
          products to buy, learn about events that are scheduled, who to consult, 
          and what information is most important to them.</p>  
        
        </div>
      </div>
        <div>
        <div class="UIUX-bg"><h2>UI / UX</h2></div>

          <div class="service-container uiux-container"> 
          <p class="first-uiux-para">Tria-Techni is passionate about an intuitive 
          user experience because the user is ultimately the one who is the 
          target. We focus on the wants and needs of the user to create stunning 
          solutions through our experience in Research, Strategy, and Design 
          methodologies.</p>
          </div>

        </div>

        <div>
        <div class="MobileDesign-bg"><h2>Mobile Design</h2></div>    

          <div class="service-container mobile-container">  
          <p class="first-mobile-para">With tablets and smartphones on the rise, <a href="https://www.oberlo.ca/statistics/mobile-internet-traffic">more than half</a> 
          of all internet users access online content from their mobile devices. 
          If your website is not optimized to be viewed on mobile devices, then 
          you may be losing customers. We design web sites that can be viewed on 
          desktops as well as mobile devices.</p>
          </div>

      </div>

        <div>
        <div class="BrandingDesign-bg"><h2>Branding</h2></div> 

          <div class="service-container branding-container">  
          <p class="first-branding-para">Quality. Strength. Ability. Boldness. Trust.  What does
          your brand say about you? When the time comes for a customer to decide 
          on a brand will you be their first choice? Your brand needs to tell your
          story to the customer both consciously and subconsciously conveying the
          qualities that make you the best choice.</p>
          </div>
         
        </div>

        <div> 
        <div class="GraphicDesign-bg"> <h2>Graphic Design</h2></div> 

          <div class="service-container graphic-container">
          <p class="first-graphic-para">Are you memorable? The differentiator between you and the 
          competitor is your design and you stand out in an over populated 
          marketplace. Our expert team of designers will craft the difference that
          gives you the validity and momentum your company needs to standout in 
          the marketplace.</p>
          </div>
          
        </div>
    
        <div>
        <div class="VideoEdit-bg"><h2>Video / Media</h2></div> 

          <div class="service-container video-container"> 
          <p class="first-video-para">Media is like vapor in that it is always changing. Tria-Techni
          creates dynamic and creative plans that move with the 
          market. We have a team of knowledgeable researchers skilled with all of 
          the techniques that allow us to quickly change and adapt your strategy 
          based off of our detailed research.  Keep the momentum flowing - with 
          our help.</p>
          </div>
         
        <div>

        </div>

        </div>

    </div>
 
</section>
</Layout>

<style>
  .service_intro {
    padding-bottom: 40px;
  }
.first-para, .second-para, .first-web-para, .second-web-para, .third-web-para, .first-uiux-para, .first-mobile-para, .first-branding-para, .first-graphic-para, .first-video-para  {
  opacity: 0;
  transform: translateY(100px);
}
.top_design_element {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1500px;
}
.WebDesign-bg, .UIUX-bg, .MobileDesign-bg, .BrandingDesign-bg, .GraphicDesign-bg, .VideoEdit-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
    width: auto;
    max-width: 100%;
  }
  .test {
    opacity: 0;
  }
  .WebDesign-bg {
    background-image: url('../images/noise.png'), linear-gradient(180deg, transparent, #0000008c), url('../images/test01.jpg');
    clip-path: polygon(66% 0, 69% 0, 0 100%, 0% 100%);
    opacity: 0;
  }
  .web-container, .first-web-para, .second-web-para, .third-web-para {
    opacity: 0;
    transform: translateY(100px);
  }
  .UIUX-bg {
    background-image: url('../images/noise.png'), linear-gradient(180deg, transparent, #0000008c), url('../images/UI-Design.jpg');
  }
  .MobileDesign-bg {
    background-image: url('../images/noise.png'), linear-gradient(180deg, transparent, #0000008c), url('../images/Mobile-Design.jpg');
  }
  .BrandingDesign-bg {
    background-image: url('../images/noise.png'), linear-gradient(180deg, transparent, #0000008c), url('../images/branding.jpg');
  }
  .GraphicDesign-bg {
    background-image: url('../images/noise.png'), linear-gradient(180deg, transparent, #0000008c), url('../images/Graphic-Design.jpg');
  }
  .VideoEdit-bg {
    background-image: url('../images/noise.png'), linear-gradient(180deg, transparent, #0000008c), url('../images/Video-Edited.jpg');
  }
  .UIUX-bg, .MobileDesign-bg, .BrandingDesign-bg, .GraphicDesign-bg, .VideoEdit-bg  {
    clip-path: polygon(66% 0, 69% 0, 0 100%, 0% 100%);
    opacity: 0;
  }
  .service-container {
    opacity: 0;
    transform: translateY(100px);
  }

  .WebDesign-bg h2, .UIUX-bg h2, .MobileDesign-bg h2, .BrandingDesign-bg h2, .GraphicDesign-bg h2, .VideoEdit-bg h2 {
    color: #ffffffe6;
    font-size: clamp(1.875rem, 5vw + 0.75rem, 5.625rem);
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
  .service-container {
    background-color:#55434a;
    padding: 20px;
  }
  #services-container {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
 }
 #services-container p {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(1.125rem, 2vw + 0.5rem, 1.875rem);
  margin-bottom: 1.5rem;
 }
 #services-container b {
  font-weight: 700;
  font-style: italic;
  border-bottom: solid 3px #776aa5;
 }
.service_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5vh;
  padding-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 920px) { 
  .top_design_element {
    display: none;
  }
}
@media (max-width: 320px) { 
  #services-container {
  padding-left: 10px;
  padding-right: 10px;
  }
  .service-container {
    background-color:#55434a;
    padding: 10px;
  }
}
@media (max-width: 530px) { 
.service_grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
    grid-gap: 20px;
  }
  .WebDesign-bg, .UIUX-bg, .MobileDesign-bg, .BrandingDesign-bg, .GraphicDesign-bg, .VideoEdit-bg {
    height: 200px;
  }
  .WebDesign-bg h2, .UIUX-bg h2, .MobileDesign-bg h2, .BrandingDesign-bg h2, .GraphicDesign-bg h2, .VideoEdit-bg h2 { 
    letter-spacing: 0;
  }
}
@media (min-width: 320px) and (max-width: 1120px) { 
  #services-container {
    margin-top: 280px;
  }
  #services-container b {
    border-bottom: solid 1px #776aa5;
  }
}
@media (min-width: 531px) and (max-width: 1120px) { 
  .WebDesign-bg, .UIUX-bg, .MobileDesign-bg, .BrandingDesign-bg, .GraphicDesign-bg, .VideoEdit-bg {
  height: 300px;
  }
} 
</style>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

<script is:inline>
  gsap.registerPlugin(ScrollTrigger);
  
  let tl = gsap.timeline ({ defaults: { ease: "Power4.easeInOut", duration: 2 } })
  tl.to('.logo', { 'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)', opacity: 1, duration: 0.5 } )
  tl.to('.first-para', { opacity: 1, y: 0, duration: 0.5 } )
  tl.to('.second-para', { opacity: 1, y: 0, duration: 0.5 } )
  tl.to('.WebDesign-bg', { 'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)', opacity: 1, duration: 0.5 } )
  tl.to('.test', {opacity: 1, duration: 1 },"-=.5" )
  tl.to('.web-container', {opacity: 1, y:0, duration: 0.5 },"-=.5" )
  tl.to('.first-web-para', {opacity: 1, y:0, duration: 0.5 },"-=.5" )
  tl.to('.toggle', { opacity: 1, duration: 0.5, x:0, ease: "elastic" }, "-=.4" )
  tl.to('.second-web-para', {opacity: 1, y:0, duration: 0.5 },"-=.5" )
  tl.to('.third-web-para', {opacity: 1, y:0, duration: 0.5 },"-=.5" )

  let tl2 = gsap.timeline({
      scrollTrigger:{ 
          trigger: ".UIUX-bg",
          start: "-50px center",
          markers: false,
      }
  }); 

  tl2.to(".UIUX-bg", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    x: 0,
    duration: 0.6
  });

 tl2.to(".uiux-container", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    y: 0,
    duration: 0.6
  } ,"+=.5");

  tl2.to(".first-uiux-para", {
    opacity: 1,
    y: 0,
    duration: 0.6
  });


  let tl3 = gsap.timeline({
      scrollTrigger:{ 
          trigger: ".MobileDesign-bg ",
          start: "-50px center",
          markers: false
      }
  });

  tl3.to(".MobileDesign-bg", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    x: 0,
    duration: 0.6
  });

 tl3.to(".mobile-container", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    y: 0,
    duration: 0.6
  } ,"+=.5");

  tl3.to(".first-mobile-para", {
    opacity: 1,
    y: 0,
    duration: 0.6
  });


  let tl4 = gsap.timeline({
      scrollTrigger:{ 
          trigger: ".BrandingDesign-bg",
          start: "-50px center",
          markers: false
      }
  });

  tl4.to(".BrandingDesign-bg", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    x: 0,
    duration: 0.6
  });

 tl4.to(".branding-container", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    y: 0,
    duration: 0.6
  },"+=.5");

  tl4.to(".first-branding-para", {
    opacity: 1,
    y: 0,
    duration: 0.6
  });

  let tl5 = gsap.timeline({
      scrollTrigger:{ 
          trigger: ".GraphicDesign-bg",
          start: "-50px center",
          markers: false
      }
  });

  tl5.to(".GraphicDesign-bg", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    x: 0,
    duration: 0.6
  });

 tl5.to(".graphic-container", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    y: 0,
    duration: 0.6
  },"+=.5");

  tl5.to(".first-graphic-para", {
    opacity: 1,
    y: 0,
    duration: 0.6
  });

  let tl6 = gsap.timeline({
      scrollTrigger:{ 
          trigger: ".VideoEdit-bg",
          start: "-50px center",
          markers: false
      }
  });

  tl6.to(".VideoEdit-bg", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    x: 0,
    duration: 0.6
  });

 tl6.to(".video-container", {
    'clip-path': 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
    opacity: 1,
    y: 0,
    duration: 0.6
  },"+=.5");

  tl6.to(".first-video-para", {
    opacity: 1,
    y: 0,
    duration: 0.6
  });
  // VideoEdit-bg video-container first-video-para
</script>