---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
import WebPort01 from '../images/portfolio/web/das-1024x682.jpg';
import WebPort02 from '../images/portfolio/web/mefashions-1480x960.jpg';
import WebPort03 from '../images/portfolio/web/mefashions-1480x960.jpg';
import Branding01 from '../images/portfolio/branding/AJ_Cards-Concept1.jpg';
import Branding02 from '../images/portfolio/branding/Armored Support Kit2015-English.jpg';
import Branding03 from '../images/portfolio/branding/bookmark-front.jpg';
---
<AstroSeo
  title="Tria-Techni: Our"
  description="Our Work Page"
/>
<Layout>asdad
<section>
    <div class="grid">
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item grid-item--height2"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2 grid-item--height2"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item grid-item--height2"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      <div class="grid-item grid-item--height2"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
</section>
</Layout>

<style>
#work-container {
  padding-top: 260px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}
.grid {
  max-width: 1700px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 300px; }
</style>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script is:inline src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

<script is:inline>
$('.grid').isotope({
  itemSelector: '.grid-item',
  masonry: {
    columnWidth: 100
  }
});
</script>