---
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
import WebPort01 from '../images/portfolio/web/das-1024x682.jpg';
import WebPort02 from '../images/portfolio/web/mefashions-1480x960.jpg';
import WebPort03 from '../images/portfolio/web/natural-allergy4-1024x820.jpg';
import Branding01 from '../images/portfolio/branding/AJ_Cards-Concept1.jpg';
import Branding02 from '../images/portfolio/branding/Armored Support Kit2015-English.jpg';
import Branding03 from '../images/portfolio/branding/bookmark-front.jpg';
import Branding04 from '../images/portfolio/branding/C-Swabi-Card-Proof.jpg';
import Branding05 from '../images/portfolio/branding/Half-Price-Thursdays-Poster-LoRes.jpg';
import Branding06 from '../images/portfolio/branding/Kanger-Vinyl_Banner.jpg';
import Branding07 from '../images/portfolio/branding/Kayla-Card-Proof.jpg';
import Branding08 from '../images/portfolio/branding/Urban-Revival-CD-Cover-Master-LoRes.jpg';
import Branding09 from '../images/portfolio/branding/WORSHIP-FLYER2.jpg';
import Branding10 from '../images/portfolio/branding/Worth-Fitness-Flyer-Revised02.jpg';
import Branding11 from '../images/portfolio/branding/Worth-fitness-Flyer.jpg';
import Logo01 from '../images/portfolio/logos/ActivePhysical_Logo.jpg';
import Logo02 from '../images/portfolio/logos/armored-films-Logo2.jpg';
import Logo03 from '../images/portfolio/logos/BusinessWorkshop-1480x960.jpg';
import Logo04 from '../images/portfolio/logos/CVDC-1480x960.jpg';
import Logo05 from '../images/portfolio/logos/FCpipeline-Logo-1480x960.jpg';
import Logo06 from '../images/portfolio/logos/Larouche-flyer-1480x960.jpg';
import Logo07 from '../images/portfolio/logos/NaturalAllergySolutions-1480x960.jpg';
import Logo08 from '../images/portfolio/logos/NaturalAllergySolutions22-1480x960.jpg';
import Logo09 from '../images/portfolio/logos/RENSON-Calendar-2019.jpg';
import Logo10 from '../images/portfolio/logos/Siddiqui-Law-Logo.jpg';
import Logo11 from '../images/portfolio/logos/Spinex-Logo-1480x960.jpg';
import Logo12 from '../images/portfolio/logos/TCSC-Master-Logo.jpg';
import Logo13 from '../images/portfolio/logos/TheUrbanFrequency-Logo.jpg';
import Logo14 from '../images/portfolio/logos/Traklounge-Logo.jpg';
import Logo15 from '../images/portfolio/logos/VictorEnthios-Logo-1480x960.jpg';
---
<AstroSeo
  title="Tria-Techni: Our"
  description="Our Work Page"
/>

<Layout>
<section id="work-container"> 
  <div class="container container_2">
    <div class="item" style="height: 600px;"><img src="https://picsum.photos/300/600" /></div>
    <div class="item" style="height: 400px;"><img src="https://picsum.photos/300/400" /></div>
    <div class="item" style="height: 200px;"><img src="https://picsum.photos/300/200" /></div>
    <div class="item" style="height: 300px;"><img src="https://picsum.photos/300/300" /></div>
    <div class="item" style="height: 550px;"><img src="https://picsum.photos/300/550" /></div>
    <div class="item" style="height: 220px;"><img src="https://picsum.photos/300/220" /></div>
    <div class="item" style="height: 440px;"><img src="https://picsum.photos/300/440" /></div>
    <div class="item" style="height: 430px;"><img src="https://picsum.photos/300/630" /></div>
  </div>
</section>
</Layout>

<style>
#work-container {
  margin-top: 300px;
  height: 100vh;
  padding: 0;
}
.container {
  width: 100%;
  position: relative;
}
.item {
  position: absolute;
  text-align: center;
  font-size: 2em;
  font-weight: white;
  color: white;
  line-height: 1.5em;
  overflow: hidden;
}
.item img {
  border-radius: 10px;  
}
</style>

<script is:inline src="https://cdn.jsdelivr.net/npm/minimasonry@latest/build/minimasonry.min.js"></script>

<script is:inline>
var masonry2 = new MiniMasonry({
  container: document.querySelector('.container_2'),
  baseWidth: 300,
  surroundingGutter: false
});
</script>