
<footer>
  <div class="footer-container footer-noise">
    <p>hello jello</p>
  </div>
  
</footer>

<style>
  footer {
    position: relative;
    width: 100%;
    height: 250px;
    margin: auto 0;
    /*background-image: url(/src/images/noise.png);
    mask-image: linear-gradient(180deg,transparent 3%,rgb(0, 0, 0) 5%,rgb(0, 0, 0) 94%,#00000012 98%);
    opacity: 0.3; */
    background: rgb(49,46,54);
    background: radial-gradient(circle, rgba(49,46,54,1) 0%, rgba(82,53,200,1) 61%, rgba(49,46,54,1) 100%); 
    mask-image: radial-gradient(rgba(0,0,0,.5),transparent 70%);
    background-blend-mode: overlay;
  }
  .footer-container {
    padding: 40px;
    height: 250px;
    width: 100%;
  }
  .footer-noise {
    background-image: url(/src/images/noise.png);
    mask-image: linear-gradient(180deg,transparent 3%,rgb(0, 0, 0) 5%,rgb(0, 0, 0) 94%,#00000012 98%);
    opacity: 0.3;
  }
</style>