
<footer>
  <div class="footer-container">
    <p>hello jello</p>
    <hr class="footer-ruler">
  </div>
  <a href="#">Privacy Policy</a> <a href="#">Terms of Service</a> &copyright; 2023 Tria-Techi Creative Group 
</footer>

<style>
  footer {
    border-top: solid #444056 1px;
  }
  .footer-container {
    padding: 20px 40px;
    height: 250px;
  }
  .footer-ruler {
    color:  #444056;;
  }
</style>